.header {
  position: fixed;
  background-color: rgb(255, 223, 212);
  width: 100%;
  margin-top: -30px;
  margin-left: -12px;
  margin-right: 0px;
  border: 5px solid rgb(2, 117, 2);
  z-index: 1;
}

.sitename {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: rgb(2, 117, 2);
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  position: fixed;
  margin-top: -26px;
  margin-left: 15px;
  width: 8%;
  height: 10%;
  border: 5px solid rgb(2, 117, 2);
  border-radius: 10px;
  z-index: 1;
}
#date {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(2, 117, 2);
}
.side {
  position: fixed;
  margin-top: 0px;
  margin-left: 8px;
  padding-left: 0px;
  border: 5px solid rgb(2, 117, 2);
  margin-right: 1200px;
  background-color: rgb(255, 223, 212);
}

.footer {
  position: fixed;
  margin-left: -12px;
  bottom: 0;
  width: 100%;
  background-color: rgb(204, 204, 204);
  border: 2px solid black;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
a.privacy {
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
a.privacy:hover {
  color: rgb(233, 233, 233);
}
td {
  border: 3px solid rgb(2, 117, 2);
}
a {
  display: block;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(2, 117, 2);
  height: 100%;
  padding: 20px;
  padding-left: 15px;
  text-align: left;
}

a:active {
  color: rgb(188, 254, 255);
}

a:hover {
  color: rgb(5, 155, 5);
}

.content {
  position: relative;
  margin-left: 250px;
  margin-top: 80px;
  margin-bottom: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(2, 117, 2);
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(5, 155, 5);
  border: solid 2px rgb(2, 117, 2);
  border-radius: 10px;
  cursor: pointer;
}
input[type="button"],
input[type="submit"]:hover {
  background-color: rgb(5, 155, 5);
  color: white;
}
input[type="reset"]:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}

/* Style for home page */
.puppies {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: solid 5px rgb(2, 93, 2);
  border-radius: 20px;
}

#homeh {
  padding-top: 10px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.intro {
  text-align: justify;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
}

/* style for findapet form */
.findapet {
  display: block;
  margin-left: 250px;
  position: relative;
  width: 50%;
  padding: 30px;
  border: solid 2px rgb(2, 117, 2);
  border-radius: 20px;
  background-color: rgb(255, 223, 212);
}
#findapeth3 {
  text-align: center;
  font-style: italic;
  margin-top: 40px;
}
legend {
  font-size: 26px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(2, 117, 2);
}
#findform {
  font-family: Verdana, Tahoma, sans-serif;
}

.friends {
  font-size: 16px;
  font-weight: normal;
  color: rgb(2, 117, 2);
}
.gender {
  font-size: 14px;
  font-weight: normal;
  color: rgb(2, 117, 2);
}
select {
  margin-bottom: 20px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border: solid 2px rgb(2, 117, 2);
}
option {
  padding: 5px;
}
input {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border: solid 1px rgb(2, 117, 2);
}
label {
  font-size: 20px;
  font-weight: bold;
  color: rgb(2, 117, 2);
}

/* style for giveaway form */
#giveawayfield {
  border: none;
}

#giveawayform {
  display: block;
  margin-left: 20px;
  width: 80%;
  padding: 10px;
  border: solid 2px rgb(2, 117, 2);
  border-radius: 20px;
  background-color: rgb(255, 223, 212);
}

#giveawayp {
  text-align: justify;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 40px;
}

#email {
  margin-bottom: -20px;
}

textarea {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 5px;
  border: solid 1px rgb(2, 117, 2);
  width: 500px;
  height: 75px;
}

/* style for contact page */

#disclaimer {
  display: table-cell;
  height: 350px;
  vertical-align: bottom;
  color: black;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}

/* style for petcare */

#petcare {
  margin-left: 40px;
}

.care {
  margin-left: 40px;
}

.carep {
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
}

/* style for login */
#loginform {
  margin-left: 10px;
}
#loginh2 {
  margin-top: 80px;
  margin-left: 10px;
}

#loginform label {
  font-size: 16px;
  font-weight: bold;
}

#loginform input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: solid 1px rgb(2, 117, 2);
}
