.header {
  position: fixed;
  background-color: rgb(255, 223, 212);
  width: 100%;
  margin-top: -30px;
  margin-left: -12px;
  margin-right: 0px;
  border: 5px solid rgb(2, 117, 2);
  z-index: 1;
}

.sitename {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: rgb(2, 117, 2);
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  position: fixed;
  margin-top: -26px;
  margin-left: 15px;
  width: 8%;
  height: 10%;
  border: 5px solid rgb(2, 117, 2);
  border-radius: 10px;
  z-index: 1;
}
#date {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(2, 117, 2);
}
.side {
  position: fixed;
  margin-top: 70px;
  margin-left: 8px;
  padding-left: 0px;
  border: 5px solid rgb(2, 117, 2);
  margin-right: 1200px;
  background-color: rgb(255, 223, 212);
}

.footer {
  position: fixed;
  margin-left: -12px;
  bottom: 0;
  width: 100%;
  background-color: rgb(204, 204, 204);
  border: 2px solid black;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
a.privacy {
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
a.privacy:hover {
  color: rgb(233, 233, 233);
}
td {
  border: 3px solid rgb(2, 117, 2);
}
a {
  display: block;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(2, 117, 2);
  height: 100%;
  padding: 20px;
  padding-left: 15px;
  text-align: left;
}

a:active {
  color: rgb(188, 254, 255);
}

a:hover {
  color: rgb(5, 155, 5);
}

.content {
  position: relative;
  margin-left: 250px;
  margin-top: 80px;
  margin-bottom: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(2, 117, 2);
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(5, 155, 5);
  border: solid 2px rgb(2, 117, 2);
  border-radius: 10px;
  cursor: pointer;
}
input[type="button"],
input[type="submit"]:hover {
  background-color: rgb(5, 155, 5);
  color: white;
}
input[type="reset"]:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}
