<%- include('header') %>
<main>
  <div class="side">
    <table class="nav">
      <tr>
        <td><a href="/index">Home</a></td>
      </tr>
      <tr>
        <td><a href="/createaccount">Create an Account</a></td>
      </tr>
      <tr>
        <td><a href="/findapet">Find A Dog/Cat</a></td>
      </tr>
      <tr>
        <td><a href="/petcare">Pet Care</a></td>
      </tr>
      <tr>
        <td><a href="/giveaway">Have A Pet To Give Away?</a></td>
      </tr>
      <tr>
        <td><a href="/logout">Log Out</a></td>
      </tr>
      <tr>
        <td><a href="/contact">Contact Me</a></td>
      </tr>
    </table>
  </div>
  <div class="content">
    <h2>Contact Me</h2>
    <p>
      If you have any questions or concerns, please feel free to contact me!
    </p>
    <p><b>Name: </b>Brian Ly</p>
    <p><b>Student ID: </b>40028072</p>
    <p><b>Email: </b>ly.brian@hotmail.ca</p>
    <p><b>Phone: </b>514-123-4567</p>

    <div id="disclaimer">
      <p>
        <b>Privacy/Disclaimer:</b> Furry Friend Finder will not sell or misuse
        any client information.<br />
        Similarly, this website's builder is not responsible for any incorrect
        information posted by a pet owner.
      </p>
    </div>
  </div>
</main>
<%- include('footer') %>
