<%- include('header') %>
<main>
  <div class="side">
    <table class="nav">
      <tr>
        <td><a href="/index">Home</a></td>
      </tr>
      <tr>
        <td><a href="/createaccount">Create an Account</a></td>
      </tr>
      <tr>
        <td><a href="/findapet">Find A Dog/Cat</a></td>
      </tr>
      <tr>
        <td><a href="/petcare">Pet Care</a></td>
      </tr>
      <tr>
        <td><a href="/giveaway">Have A Pet To Give Away?</a></td>
      </tr>
      <tr>
        <td><a href="/logout">Log Out</a></td>
      </tr>
      <tr>
        <td><a href="/contact">Contact Me</a></td>
      </tr>
    </table>
  </div>
  <div class="content">
    <h2>Create an Account</h2>
    <form
      action="/createaccount"
      onsubmit="validateAccountCreation()"
      method="POST"
    >
      <label for="username"
        ><b>Username</b> (only letters and digits allowed):</label
      >
      <input type="text" id="username" name="username" required /><br />
      <label for="password"
        ><b>Password</b> (at least 4 characters long, must contain at least 1
        letter and 1 digit):</label
      >
      <input type="password" id="password" name="password" required /><br />
      <input type="submit" value="Create Account" />
    </form>
  </div>
</main>
<%- include('footer') %>
