<%- include('header') %>
<main>
  <div class="side">
    <table class="nav">
      <tr>
        <td><a href="/index">Home</a></td>
      </tr>
      <tr>
        <td><a href="/createaccount">Create an Account</a></td>
      </tr>
      <tr>
        <td><a href="/findapet">Find A Dog/Cat</a></td>
      </tr>
      <tr>
        <td><a href="/petcare">Pet Care</a></td>
      </tr>
      <tr>
        <td><a href="/giveaway">Have A Pet To Give Away?</a></td>
      </tr>
      <tr>
        <td><a href="/logout">Log Out</a></td>
      </tr>
      <tr>
        <td><a href="/contact">Contact Me</a></td>
      </tr>
    </table>
  </div>
  <div class="content">
    <h2>Have a pet to give away?</h2>
    <p id="giveawayp">
      If you have a pet that you need to give away, please fill out the form
      below. We will contact you as soon as possible to help you find a new home
      for your pet.
    </p>
    <fieldset id="giveawayfield">
      <form
        id="giveawayform"
        action="/submitgiveaway"
        onsubmit="return validateGiveForm()"
        method="post"
      >
        <label for="pettype">Pet Type:</label>
        <select name="pettype" id="pettype">
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
        </select>
        <br />
        <label for="breed">Breed of cat or dog (can be mixed):</label>
        <input type="text" id="breed" name="breed" />
        <br />
        <label for="age">Age of animal:</label><br />
        <select name="age" id="age">
          <option value="0-2">0-2</option>
          <option value="3-5">3-5</option>
          <option value="6-9">6-9</option>
          <option value="10+">10+</option>
        </select>
        <br />
        <label>Gender:</label>
        <input type="radio" name="gender" class="gender" value="Male" />
        <label class="gender">Male</label>
        <input type="radio" name="gender" class="gender" value="Female" />
        <label class="gender">Female</label><br />
        <label>Who is the pet suitable with? Select all that apply:</label>
        <br />
        <input type="checkbox" name="behavior" value="children" id="children" />
        <label for="children" class="friends">Small children</label>
        <input
          type="checkbox"
          name="behavior"
          value="otherdogs"
          id="otherdogs"
        />
        <label for="otherdogs" class="friends">Other Dogs</label>
        <input
          type="checkbox"
          name="behavior"
          value="othercats"
          id="othercats"
        />
        <label for="othercats" class="friends">Other Cats</label>
        <br />
        <label for="description">Description:</label><br />
        <textarea
          id="description"
          name="description"
          placeholder="Brag about your pet!"
        ></textarea
        ><br />
        <label>Current Owner's Name:</label><br />
        <input
          type="text"
          id="firstname"
          name="ownerFN"
          placeholder="First name"
          style="margin-right: 10px"
        />
        <input
          type="text"
          id="lastname"
          name="ownerLN"
          placeholder="Last name"
        /><br />
        <label for="email">Current Owner's Email:</label><br />
        <input type="text" id="email" name="email" /><br />
        <input type="submit" value="Submit" />
        <input type="reset" value="Clear" />
      </form>
    </fieldset>
  </div>
</main>
<%- include('footer') %>
