<!DOCTYPE html>
<html>
  <head>
    <title>Furry Friend Finder</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
    <script src="petstore.js"></script>
  </head>
  <body>
    <div class="header">
      <h1 class="sitename">Furry Friend Finder</h1>
    </div>
    <a href="/index" class="logolink">
      <img src="petlogo.png" alt="logo" class="logo" />
    </a>
    <div id="date"></div>
  </body>
</html>
