<%- include('header') %>
<main>
  <div class="side">
    <table class="nav">
      <tr>
        <td><a href="/index">Home</a></td>
      </tr>
      <tr>
        <td><a href="/createaccount">Create an Account</a></td>
      </tr>
      <tr>
        <td><a href="/findapet">Find A Dog/Cat</a></td>
      </tr>
      <tr>
        <td><a href="/petcare">Pet Care</a></td>
      </tr>
      <tr>
        <td><a href="/giveaway">Have A Pet To Give Away?</a></td>
      </tr>
      <tr>
        <td><a href="/logout">Log Out</a></td>
      </tr>
      <tr>
        <td><a href="/contact">Contact Me</a></td>
      </tr>
    </table>
  </div>
  <div class="content">
    <h2 id="homeh">Welcome to Furry Friend Finder</h2>
    <p class="intro">
      Furry Friend Finder is a website that helps you find the perfect pet for
      you. Whether you are looking for a dog or a cat, we have a wide variety of
      pets to choose from. We provide essential information on how to take care
      of your pet. We also accept pets that you can no longer take care of and
      help them find a new home. We have a contact page where you can reach out
      to us for any questions or concerns. Please feel free to browse our
      website and find the perfect pet for you!
    </p>
    <br />
    <img src="cutepuppies.jpeg" alt="puppies" class="puppies" />
  </div>
</main>
<%- include('footer') %>
